<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evan.mall.mapper.BaseAttrInfoMapper">

    <resultMap id="BaseResultMap" type="com.evan.mall.product.BaseAttrInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="attrName" column="attr_name" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="categoryLevel" column="category_level" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="baseAttrInfoMap" type="com.evan.mall.product.BaseAttrInfo" autoMapping="true">
        <id column="id" property="id"/>
        <!--
        property: 实体类属性名
        ofType: 实体类属性名对应的类型
        -->
        <collection property="attrValueList" ofType="com.evan.mall.product.BaseAttrValue" autoMapping="true">
            <id column="attr_value_id" property="id"/>
        </collection>

    </resultMap>

    <sql id="Base_Column_List">
        id,attr_name,category_id,
        category_level,create_time,update_time,
        is_deleted
    </sql>
    <select id="selectAttrInfoList" resultMap="baseAttrInfoMap">
        select
        bai.id,
        bai.attr_name,
        bai.category_id,
        bai.category_level,
        bav.id attr_value_id,
        bav.value_name,
        bav.attr_id
        from base_attr_info bai inner join base_attr_value bav
        on bai.id=bav.attr_id

        <where>
            <if test="category1Id !=null and category1Id !=0">
                or ( bai.category_level=1 and bai.category_id=#{category1Id})
            </if>
            <if test="category2Id !=null and category2Id !=0">
                or (bai.category_level=2 and bai.category_id=#{category2Id})
            </if>
            <if test="category3Id !=null and category3Id !=0">
                or (bai.category_level=3 and bai.category_id=#{category3Id})
            </if>

        </where>
        order by bai.category_level ,bai.id

    </select>
</mapper>
